In [1]:
import csv
import pandas as pd
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv('train.csv') 
df_test = pd.read_csv('test.csv')

In [3]:
df_train.columns

Index(['id', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [4]:
df_train['age'].describe()

count    27128.000000
mean        40.951010
std         10.608542
min         18.000000
25%         33.000000
50%         39.000000
75%         48.000000
max         95.000000
Name: age, dtype: float64

In [5]:
df_train['education'].describe()

count         27128
unique            4
top       secondary
freq          13882
Name: education, dtype: object

In [6]:
df_train['education'].values

array(['secondary', 'primary', 'tertiary', ..., 'primary', 'primary',
       'secondary'], dtype=object)

In [7]:
np.unique(df_train['contact'])

array(['cellular', 'telephone', 'unknown'], dtype=object)

In [8]:
np.unique(df_train['poutcome'])

array(['failure', 'other', 'success', 'unknown'], dtype=object)

In [9]:
np.unique(df_train['month'])

array(['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may',
       'nov', 'oct', 'sep'], dtype=object)

In [10]:
#histogram
#sns.distplot(df_train['age']);

In [11]:
df_train.head(5)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,39,blue-collar,married,secondary,no,1756,yes,no,cellular,3,apr,939,1,-1,0,unknown,1
1,2,51,entrepreneur,married,primary,no,1443,no,no,cellular,18,feb,172,10,-1,0,unknown,1
2,3,36,management,single,tertiary,no,436,no,no,cellular,13,apr,567,1,595,2,failure,1
3,4,63,retired,married,secondary,no,474,no,no,cellular,25,jan,423,1,-1,0,unknown,1
4,5,31,management,single,tertiary,no,354,no,no,cellular,30,apr,502,1,9,2,success,1

In [12]:
#df_bank_pivot = pd.pivot_table(data=train, values='age', 
#                                  columns='id', index='y', aggfunc=np.mean)

In [13]:
#sns.heatmap(df_bank_pivot)

In [14]:
#colormap = plt.cm.RdBu
#plt.figure(figsize=(14,12))
#plt.title('Features', y=1.05, size=15)
#sns.heatmap(train.astype(float).corr(),linewidths=0.1,vmax=1.0, 
#            square=True, cmap=colormap, linecolor='white', annot=True)

In [15]:
train_x = df_train.drop(['y'],axis = 1)
train_y = df_train['y']

In [16]:
train_x.head(3)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1,39,blue-collar,married,secondary,no,1756,yes,no,cellular,3,apr,939,1,-1,0,unknown
1,2,51,entrepreneur,married,primary,no,1443,no,no,cellular,18,feb,172,10,-1,0,unknown
2,3,36,management,single,tertiary,no,436,no,no,cellular,13,apr,567,1,595,2,failure

In [17]:
#	定額預金申し込み有無（1:有り, 0:無し）
train_y.head(3)

0    1
1    1
2    1
Name: y, dtype: int64

In [18]:
full_data = [train_x]
for dataset in full_data:
    #dataset[''] = dataset[''].replace({'':0,'':1,'':2}).astype(int)
    dataset['job'] = dataset['job'].replace( {'blue-collar': 1, 'entrepreneur': 2, 'management': 3,'retired':4,'services':5,
                                             'technician':6,'admin.':7,'self-employed':8,'housemaid':9,'unemployed':10,
                                              'unknown':11,'student':12} ).astype(int)
    
    dataset['marital'] = dataset['marital'].replace({'married':0,'single':1,'divorced':2}).astype(int)
    
    dataset['education'] = dataset['education'].replace({'primary':0,'secondary':1,'tertiary':2,'unknown':3}).astype(int)
    
    dataset['default'] = dataset['default'].replace({'yes':0,'no':1}).astype(int)
    
    dataset['housing'] = dataset['housing'].replace({'yes':0,'no':1}).astype(int)
    
    dataset['loan'] = dataset['loan'].replace({'yes':0,'no':1}).astype(int)
    
    dataset['contact'] = dataset['contact'].replace({'cellular':0,'telephone':1,'unknown':2}).astype(int)

    dataset['poutcome'] = dataset['poutcome'].replace({'failure':0,'other':1,'success':2,'unknown':3}).astype(int)
    
    dataset['month'] = dataset['month'].replace( {'jan': 1, 'feb': 2, 'mar': 3,'apr':4,'may':5,
                                             'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,
                                              'nov':11,'dec':12} ).astype(int)

In [19]:
dataset.head(100)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1,39,1,0,1,1,1756,0,1,0,3,4,939,1,-1,0,3
1,2,51,2,0,0,1,1443,1,1,0,18,2,172,10,-1,0,3
2,3,36,3,1,2,1,436,1,1,0,13,4,567,1,595,2,0
3,4,63,4,0,1,1,474,1,1,0,25,1,423,1,-1,0,3
4,5,31,3,1,2,1,354,1,1,0,30,4,502,1,9,2,2
5,6,29,1,1,1,1,260,0,1,2,2,6,707,14,-1,0,3
6,7,37,5,0,1,1,52,0,1,0,6,9,908,1,185,9,2
7,8,32,6,1,1,1,230,0,1,0,18,5,442,1,266,8,0
8,9,31,7,1,1,1,0,0,1,0,7,5,895,2,295,2,0
9,10,32,8,1,2,1,1815,1,1,1,10,8,235,1,102,2,0
10,11,35,8,1,2,1,353,1,1,0,12,8,582,1,-1,0,3
11,12,34,6,2,1,1,1451,0,1,2,30,5,1097,15,-1,0,3
12,13,34,7,1,2,1,625,1,0,2,31,8,34,1,-1,0,3
13,14,31,3,2,2,1,883,0,1,0,5,3,112,2,106,1,0
14,15,38,1,0,0,1,5839,0,1,2,4,6,984,2,-1,0,3
15,16,71,6,0,2,1,383,1,1,0,27,4,388,3,-1,0,3
16,17,62,3,0,2,1,557,1,1,0,14,8,185,1,-1,0,3
17,18,66,4,0,1,1,154,1,1,0,15,7,268,5,181,2,0
18,19,46,1,0,0,1,369,0,1,2,13,5,916,2,-1,0,3
19,20,29,7,1,2,1,89,0,1,0,22,7,120,1,-1,0,3
20,21,28,8,0,2,1,112,0,0,0,5,5,145,1,-1,0,3
21,22,67,4,0,0,1,708,1,1,0,11,9,96,2,-1,0,3
22,23,42,3,0,2,1,4,0,1,0,17,7,795,1,-1,0,3
23,24,33,7,2,1,1,420,0,1,1,6,2,112,2,-1,0,3
24,25,39,5,1,1,1,158,0,1,2,6,6,354,2,-1,0,3
25,26,57,4,2,2,1,66,0,1,0,11,5,798,2,-1,0,3
26,27,43,3,1,2,1,0,1,1,0,11,8,155,2,-1,0,3
27,28,46,5,2,3,1,973,1,1,0,2,2,297,1,-1,0,3
28,29,31,1,0,0,1,-81,0,1,0,22,7,261,1,-1,0,3
29,30,36,6,1,1,1,524,0,1,0,8,4,95,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,30,6,1,2,0,23,1,1,0,12,8,72,4,-1,0,3
71,72,43,7,1,1,1,-495,0,0,2,23,5,131,1,-1,0,3
72,73,37,5,2,1,1,532,0,1,2,11,6,199,1,-1,0,3
73,74,53,5,2,0,1,200,1,1,0,17,11,182,3,-1,0,3
74,75,45,11,0,3,1,19706,0,1,0,3,2,419,3,-1,0,3
75,76,30,1,1,1,1,397,0,1,2,28,5,536,7,-1,0,3
76,77,53,3,2,2,1,-187,0,1,0,31,7,27,2,-1,0,3
77,78,45,2,0,1,1,-479,0,1,0,30,7,167,2,-1,0,3
78,79,51,7,0,1,1,3025,1,1,0,7,5,476,1,352,1,1
79,80,35,1,1,0,1,-269,0,1,2,9,6,96,10,-1,0,3
80,81,53,5,0,3,1,2009,1,1,0,16,6,250,1,-1,0,3
81,82,33,1,0,1,1,-253,0,1,0,12,5,89,3,-1,0,3
82,83,49,3,1,1,1,-18,0,1,0,11,5,217,3,264,4,0
83,84,36,7,1,1,1,0,1,1,0,4,2,137,2,-1,0,3
84,85,41,11,1,2,1,1567,1,1,0,1,7,291,2,-1,0,3
85,86,36,7,1,3,1,-69,0,1,2,27,5,90,2,-1,0,3
86,87,34,3,0,2,1,1273,1,1,2,11,8,93,2,-1,0,3
87,88,37,4,0,1,1,-252,1,1,0,22,7,438,3,-1,0,3
88,89,47,4,2,1,1,0,1,1,2,19,6,141,1,-1,0,3
89,90,54,8,0,2,1,0,0,1,0,20,8,83,5,-1,0,3
90,91,46,1,1,1,1,2401,0,1,2,14,5,218,2,-1,0,3
91,92,36,3,0,2,1,9324,0,1,0,30,3,138,8,-1,0,3
92,93,47,7,0,1,1,1383,0,1,2,6,6,460,8,-1,0,3
93,94,34,8,1,2,1,1798,0,1,0,13,5,196,3,-1,0,3
94,95,38,3,0,2,1,385,0,1,1,28,10,154,1,-1,0,3
95,96,35,2,1,1,1,475,1,0,0,21,7,936,4,-1,0,3
96,97,38,1,2,1,1,593,0,1,0,17,4,182,2,-1,0,3
97,98,42,5,0,1,1,693,0,1,2,13,5,187,2,-1,0,3
98,99,29,3,1,2,1,2753,1,1,0,30,4,645,1,-1,0,3
99,100,56,3,1,1,1,237,0,1,1,9,7,236,4,-1,0,3